body {	
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: #edeae5;
	width: 100%;
	height: 100%;
	position: relative;
	margin: 0px;
}

div {
	transition: linear 0.2s;
}

#container {
    width: 480px;
    height: 480px;
    position: absolute;
    top: calc(50% - 240px);
    left: calc(50% - 240px);
}
.circle {
    width: 60px;
    height: 60px;
    background: white;
    display: inline-block;
    margin-right: 30px;
    border-radius: 50%;
}
.square {
    width: 60px;
    height: 60px;
    background: white;
    display: inline-block;
    margin-right: 30px;
}
.row {
    margin-bottom: 30px;
}
.green {
    background: #78c272;
}
.fancy {
    border: 3px inset rgba(74, 74, 74, 0.25);
    width: 54px;
    height: 54px;
}